.meditor .meditor-controls {
  margin-bottom: 15px; }
.meditor .meditor-helpers {
  display: none;
  top: 5px;
  z-index: 2000;
  position: absolute;
  width: 40px;
  text-align: center; }
  .meditor .meditor-helpers .meditor-move {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin-right: 4px;
    cursor: move;
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: #aaa;
    border: 1px solid #777; }
  .meditor .meditor-helpers .meditor-delete {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: #aaa;
    border: 1px solid #777; }
.meditor .meditor-area .row {
  min-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative; }
  .meditor .meditor-area .row .column .meditor-resizer {
    cursor: col-resize;
    display: block;
    position: absolute;
    height: 100%;
    margin-left: -15px;
    width: 30px;
    top: 0px;
    left: 0px; }
  .meditor .meditor-area .row .column.large-12 .meditor-resizer {
    display: none; }
.meditor .meditor-area .meditor-block {
  position: relative;
  min-height: 100px;
  outline: 1px solid #aaa; }
  .meditor .meditor-area .meditor-block.meditor-moving {
    opacity: 0.3; }
  .meditor .meditor-area .meditor-block * {
    outline: none; }
.meditor .meditor-highlighted-right:before {
  background-color: blue;
  z-index: 100;
  display: block;
  position: absolute;
  content: '';
  width: 2px;
  right: 0;
  top: 0;
  bottom: 0; }
.meditor .meditor-highlighted-left:before {
  background-color: blue;
  z-index: 100;
  display: block;
  position: absolute;
  content: '';
  width: 2px;
  left: 0;
  top: 0;
  bottom: 0; }
.meditor .meditor-highlighted-bottom:before {
  background-color: blue;
  z-index: 100;
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0; }
.meditor .meditor-highlighted-top:before {
  background-color: blue;
  z-index: 100;
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  left: 0;
  right: 0;
  top: 0; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .unselectable * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.moving {
  cursor: move !important; }

.resizing {
  cursor: col-resize !important; }

.image-block img {
  width: 100%; }
