@import "compass";

@mixin line-gradient($colors...) {
  background: -moz-linear-gradient(top, $colors);
  background: -webkit-linear-gradient(top, $colors);
  background: -o-linear-gradient(top, $colors);
  background: -ms-linear-gradient(top, $colors);
  background: linear-gradient(to bottom, $colors);
}

$meditorBorderColorRow: #ccc;
$meditorBorderColor: #ccc;
$meditorBorderColorHover: #777;
$meditorBorderColorMove: #555;
$meditorBorderWidthMove: 3px;
$meditorHelperBg: #E6E6E6;
$meditorHelperBorder: #D5D5D5;

$meditorMinHeightBlock: 70px;

$column-gutter: 30px;

.meditor {
  p {
    margin: 0;
    padding: 0;
  }

  .meditor-controls {
    margin-bottom: 15px;
  }

  .meditor-helpers {
    $helperHeight: 25px;

    display: none;
    z-index: 2000;
    position: absolute;
    width: $helperHeight;
    text-align: center;
    margin-top: 10px;
    margin-left: -3px;

    &>span {
      display: block;
      padding: 0;
      height: $helperHeight;
      line-height: $helperHeight;

      font-size: 13px;

      background-color: $meditorHelperBg;
      border-bottom: 1px solid $meditorHelperBorder;

      &:first-child {
        @include border-radius(3px 3px 0 0);
      }

      &:last-child {
        @include border-radius(0 0 3px 3px);
        border-bottom: none;
      }
    }

    .meditor-move {
      cursor: move;
    }

    .meditor-delete {
      cursor: pointer;
    }
  }

  .meditor-area {
    .row {
      min-height: 20px;

      padding-top: 10px;
      padding-bottom: 10px;

      position: relative;

      .column {
        .meditor-resizer {
          cursor: col-resize;
          display: block;
          position: absolute;
          margin-left: -$column-gutter/2;
          width: $column-gutter;
          top: -10px;
          left: 0px;
          bottom: -10px;

          &:after {
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            border-left: 1px dashed #cacaca;
            display: none;
            content: ' ';
          }

          &:hover {
            &:after {
              display: block;
            }
          }
        }

        &.resizing {
          .meditor-resizer {
            &:after {
              display: block;
            }
          }
        }

        &:first-child {
          .meditor-resizer {
            display: none;
          }
        }
      }
    }

    .meditor-block {
      position: relative;
      min-height: $meditorMinHeightBlock;

      &.meditor-moving {
        opacity: 0.3;
      }

      // Plug. ex: Click here to edit text / upload image
      .plug {
        background-color: #F8F8F8;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: none;

        line-height: $meditorMinHeightBlock;
        text-align: center;

        color: #CECECE;
        font-size: 14px;

        .plug-info {
          display: inline-block;
          line-height: 1.2;
        }
      }

      &.plugged .plug {
        display: block;
      }

      &:hover {
        &:after {
          border: 1px solid $meditorBorderColor;
          content: ' ';
          display: block;
          position: absolute;
          left: -10px;
          right: -10px;
          top: -10px;
          bottom: -10px;
          z-index: -10;
        }
      }

      * {
        outline: none;
      }
    }
  }

  .meditor-highlighter {
    background-color: $meditorBorderColorMove;
    z-index: 100;
    display: block;
    position: absolute;

    &.top {
      height: $meditorBorderWidthMove;
      left: 0;
      right: 0;
      top: 0;
    }

    &.left {
      width: $meditorBorderWidthMove;
      left: 0;
      top: 0;
      bottom: 0;
    }

    &.bottom {
      height: $meditorBorderWidthMove;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &.right {
      width: $meditorBorderWidthMove;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.moving {
  cursor: move !important;
}

.resizing {
  cursor: col-resize !important;
}

@import "imageblock";
@import "textblock";