$meditorBorderColorRow: #ccc;
$meditorBorderColor: #f1f1f1;
$meditorBorderColorHover: #aaa;

@mixin highlight-direction($direction) {
  $width: 2px;
  background-color: blue;
  z-index: 100;
  display: block;
  position: absolute;
  content: '';

  @if $direction == top {
    height: $width;
    left: 0;
    right: 0;
    top: 0;
  } @else if $direction == left {
    width: $width;
    left: 0;
    top: 0;
    bottom: 0;
  } @else if $direction == bottom {
    height: $width;
    left: 0;
    right: 0;
    bottom: 0;
  } @else if $direction == right {
    width: $width;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.meditor {

  .meditor-controls {
    margin-bottom: 15px;
  }

  .meditor-area {
    //$gridFluid: false;
    //@include grid();
    @include layout;

    .meditor-row {
      @include inline-block;
      position: relative;
      width: 100%;
      //outline: 1px solid $meditorBorderColorRow;
      min-height: 10px;
      margin-bottom: 20px;
    }

    .meditor-block {
      position: relative;
      min-height: 100px;
      outline: 1px solid $meditorBorderColor;

      @for $i from 1 through 12 {
        &.col-#{$i} {
          @include column($i);

          &.first {
            @include column($i, true);

          }
        }
      }

      .meditor-resizer {
        cursor: col-resize;
        display: block;
        position: absolute;
        height: 100%;
        margin-left: -$gridGutterWidth;
        width: $gridGutterWidth;
        top: 0px;
        left: 0px;
      }

      &.first {
        .meditor-resizer {
          display: none;
        }
      }

      .meditor-helpers {
        display: none;
        top: 5px;
        z-index: 2000;
        left: 50%;
        margin-left: -20px;
        position: absolute;
        width: 40px;
        text-align: center;

        .meditor-move {
          @include border-radius(3px);
          @include float-left;
          margin-right: 4px;
          cursor: move;
          width: 15px;
          height: 15px;
          font-size: 10px;
          background-color: $meditorBorderColor;
          border: 1px solid $meditorBorderColorHover;
        }

        .meditor-delete {
          @include border-radius(3px);
          @include float-left;
          cursor: pointer;
          width: 15px;
          height: 15px;
          font-size: 10px;
          background-color: $meditorBorderColor;
          border: 1px solid $meditorBorderColorHover;
        }
      }

      .meditor-highlight-helper{
        display: none;
      }

      &:hover:not(:active) {
        outline: 1px solid $meditorBorderColorHover;

        .meditor-helpers {
          @include inline-block;
        }
      }

      &.meditor-moving {
        //z-index: -1;
        opacity: 0.3;
      }
    }

    // Editable highlights
    .meditor-highlighted-right:after {
      @include highlight-direction('right');
    }

    .meditor-highlighted-left:after {
      @include highlight-direction('left');
    }

    .meditor-highlighted-bottom:after {
      @include highlight-direction('bottom');
    }

    .meditor-highlighted-top:after {
      @include highlight-direction('top');
    }
  }
}

.unselectable {

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.moving {
  cursor: move !important;
}

.resizing {
  cursor: col-resize !important;
}